@import "tailwindcss";

/* =========================
   Цветовые переменные
   ========================= */

:root {
  --bg-main: #faf7f2;       /* песочный фон */
  --bg-card: #ffffff;
  --bg-muted: #f5f3ef;

  --text-main: #111111;
  --text-muted: #555555;

  --border-main: #e5e5e5;
}

.dark {
  --bg-main: #0f1115;       /* IDE dark */
  --bg-card: #16181d;
  --bg-muted: #1c1f26;

  --text-main: #e6e6e6;
  --text-muted: #a1a1a1;

  --border-main: #2a2d34;
}

/* =========================
   Базовые стили
   ========================= */

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}
